pipeline/Loop.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"GitHub_HTTP fabricpractise":{"type":"string"},"Practise_LH":{"type":"string"}},"variables":{},"resources":[{"name":"Loop","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Lookup_RootFolders","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"JsonReadSettings"}},"firstRowOnly":false,"datasetSettings":{"annotations":[],"type":"Json","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"@concat(\n'/repos/',\npipeline().parameters.p_owner,\n'/',\npipeline().parameters.p_repo,\n'/contents?ref=',\npipeline().parameters.p_branch\n)","type":"Expression"}}},"schema":{},"externalReferences":{"connection":"[parameters('GitHub_HTTP fabricpractise')]"}}}},{"name":"ForEachFolder","type":"ForEach","dependsOn":[{"activity":"Lookup_RootFolders","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Lookup_RootFolders').output.value","type":"Expression"},"batchCount":5,"activities":[{"name":"IF_IsFolder","type":"IfCondition","dependsOn":[],"typeProperties":{"expression":{"value":"@equals(item().type,'dir')","type":"Expression"},"ifFalseActivities":[],"ifTrueActivities":[{"name":"Lookup_Files","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"JsonReadSettings"}},"firstRowOnly":false,"datasetSettings":{"annotations":[],"type":"Json","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"@concat( '/repos/', pipeline().parameters.p_owner, '/', pipeline().parameters.p_repo, '/contents/', item().path )","type":"Expression"}}},"schema":{},"externalReferences":{"connection":"[parameters('GitHub_HTTP fabricpractise')]"}}}},{"name":"Filter_CSV_Size","type":"Filter","dependsOn":[{"activity":"Lookup_Files","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Lookup_Files').output.value","type":"Expression"},"condition":{"value":"@and(\n    and(\n        equals(item().type,'file'),\n        endsWith(item().name,'.csv')\n    ),\n    and(\n        greaterOrEquals(item().size,10240),\n        lessOrEquals(item().size,102400)\n    )\n)","type":"Expression"}}},{"name":"Filter_CSV_Size_Greater100","type":"Filter","dependsOn":[{"activity":"Lookup_Files","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Lookup_Files').output.value","type":"Expression"},"condition":{"value":"@and(\n    and(\n        equals(item().type,'file'),\n        endsWith(item().name,'.csv')\n    ),\n    greater(item().size,102400)\n)","type":"Expression"}}},{"name":"Copy_small_files","type":"Copy","dependsOn":[{"activity":"Filter_small","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"BinarySource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"BinaryReadSettings"},"datasetSettings":{"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"@item().download_url","type":"Expression"}}},"externalReferences":{"connection":"[parameters('GitHub_HTTP fabricpractise')]"}}},"sink":{"type":"BinarySink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"datasetSettings":{"annotations":[],"connectionSettings":{"name":"Practise_LH","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"63fac873-f09c-4eca-89c5-5f9b5a2bd8d0","artifactId":"[parameters('Practise_LH')]","rootFolder":"Files"},"externalReferences":{"connection":"d43e22d2-9420-46e3-88d0-6e1155a4f97b"}}},"type":"Binary","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@concat(\nreplace(item().path,'/','_'),\n'.parquet'\n)","type":"Expression"},"folderPath":"csv10to100"}}}},"enableStaging":false}},{"name":"Copy_large_files","type":"Copy","dependsOn":[{"activity":"Filter_large","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"BinarySource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"BinaryReadSettings"},"datasetSettings":{"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"@item().download_url","type":"Expression"}}},"externalReferences":{"connection":"[parameters('GitHub_HTTP fabricpractise')]"}}},"sink":{"type":"BinarySink","storeSettings":{"type":"LakehouseWriteSettings"},"datasetSettings":{"annotations":[],"connectionSettings":{"name":"Practise_LH","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"63fac873-f09c-4eca-89c5-5f9b5a2bd8d0","artifactId":"[parameters('Practise_LH')]","rootFolder":"Files"},"externalReferences":{"connection":"d43e22d2-9420-46e3-88d0-6e1155a4f97b"}}},"type":"Binary","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@concat(\nreplace(item().path,'/','_'),\n'.parquet'\n)","type":"Expression"},"folderPath":"csv100above"}}}},"enableStaging":false}},{"name":"Lookup_Checkpoint_small","type":"Lookup","dependsOn":[{"activity":"Filter_CSV_Size","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","sqlReaderQuery":"SELECT file_path,file_sha\nFROM file_checkpoint","partitionOption":"None"},"firstRowOnly":false,"datasetSettings":{"annotations":[],"connectionSettings":{"name":"Practise_LH","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"63fac873-f09c-4eca-89c5-5f9b5a2bd8d0","artifactId":"[parameters('Practise_LH')]","rootFolder":"Tables"},"externalReferences":{"connection":"d43e22d2-9420-46e3-88d0-6e1155a4f97b"}}},"type":"LakehouseTable","schema":[],"typeProperties":{}}}},{"name":"Lookup_Checkpoint_large","type":"Lookup","dependsOn":[{"activity":"Filter_CSV_Size_Greater100","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","sqlReaderQuery":"SELECT file_path,file_sha\nFROM file_checkpoint","partitionOption":"None"},"firstRowOnly":false,"datasetSettings":{"annotations":[],"connectionSettings":{"name":"Practise_LH","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"63fac873-f09c-4eca-89c5-5f9b5a2bd8d0","artifactId":"[parameters('Practise_LH')]","rootFolder":"Tables"},"externalReferences":{"connection":"d43e22d2-9420-46e3-88d0-6e1155a4f97b"}}},"type":"LakehouseTable","schema":[],"typeProperties":{}}}},{"name":"Filter_small","type":"Filter","dependsOn":[{"activity":"Lookup_Checkpoint_small","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Filter_CSV_Size').output.value","type":"Expression"},"condition":{"value":"@not( contains( string(activity('Lookup_Checkpoint_small').output.value), item().sha ) )","type":"Expression"}}},{"name":"Filter_large","type":"Filter","dependsOn":[{"activity":"Lookup_Checkpoint_large","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Filter_CSV_Size_Greater100').output.value","type":"Expression"},"condition":{"value":"@not( contains( string(activity('Lookup_Checkpoint_large').output.value), item().sha ) )","type":"Expression"}}},{"name":"NB_Update_Checkpoint","type":"TridentNotebook","dependsOn":[{"activity":"Copy_small_files","dependencyConditions":["Succeeded"]},{"activity":"Copy_large_files","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"f89a1c7b-74f5-4c38-ab03-cd7c9db988c5","workspaceId":"63fac873-f09c-4eca-89c5-5f9b5a2bd8d0"}}]}}]}}],"parameters":{"p_owner":{"type":"string","defaultValue":"anshlambagit"},"p_repo":{"type":"string","defaultValue":"AnshLambaYoutube"},"p_folder":{"type":"string","defaultValue":"FabricPipelines"},"p_branch":{"type":"string","defaultValue":"main"},"p_targetFolder":{"type":"string","defaultValue":"github_ingestion"}},"lastModifiedByObjectId":"33c86f91-d527-470e-b10f-d11ba114a783","lastPublishTime":"2026-06-22T21:30:09Z"},"dependsOn":[]}]}